* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-family: 'Poppins';
}

.navbar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #30009c;
}

.navsecton {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

.search {
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
}

.navbar a {
    color: white;
}

nav form input {
    width: 13vw;
    outline: none;
}

nav .navbar-collapse {
    margin-left: 12em;
}

.navfirst {
    height: 5vh;
    background-color: #23036a;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.herosection {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(#6200ee, #30009c);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30vh 10vh;

}

.herotxt {
    width: 30vw;
}

.herotxt button {
    width: 200px;
    height: 80px;
    font-size: 20px;
    font-weight: bolder;
    color: #23036a;
    border-radius: 30px;
}

.icons {
    margin: auto;
    position: relative;
    top: -40px;
    width: 60vw;
    height: 100px;
    overflow: hidden;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 8px 0 rgb(71, 71, 71);

}

.icons img {
    display: block;
    cursor: pointer;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    /* padding-top: 10px; */
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding-top: 20vh;
}

.skill {
    background-color: #23036a;
    outline: none;
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;

}

.oth {
    padding: 8px 15px;
    border-radius: 15px;
    border: 0.5px solid #6200ee;
    outline: none;

}

.bt:hover {
    background-color: #23036a;
    color: white;
}

.abbtn {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.abtxt {
    width: 40vw;
}

.courses {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 18rem;
    
    align-items: center;
    overflow: hidden;
    color: white;
    position: relative;
    z-index: 1000;
    padding-top: 60px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.light {
    position: absolute;
    top: -30px;
    z-index: -1;
    width: 500px;
    height: 300px;
    border-radius: 100%;
    background-color: #6200ee;
}
.podcast{
    margin: auto;
    margin-top: 50px;
    padding-top: 40px;
    width: 40vw;
    background-color: #23036a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}